<nav class="bg-gray-800 text-white p-4 flex justify-between">
    <span>Welcome, <%= user.name %></span>
    <div class="space-x-4">
      <a href="/notes" class="hover:underline">Home</a>
      <a href="/logout" class="hover:underline">Logout</a>
    </div>
  </nav>
  